<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    title Examen
    link(href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet")
    link(rel="stylesheet", href="./css/index.css")
  body
    header(class="container")
      div.row
        h1(class="col s12" ) Plataforma
    main(class="container" id="container")
      
    footer.container
      div.row
        p Derechos Reservados &copy Copyright
        p Creador por @ustarrozJC  
    script(src="./js/index.js")  
      
       
  
