@import '../../node_modules/materialize-css/bin/materialize.css'
@import '../../node_modules/font-awesome/css/font-awesome.css'
cyan=#00bcd4
dark=#2c3e50
body
  position relative

header
  text-align center
  h1
    color cyan
    font-family 'Pacifico', cursive
form button[type="submit"]
  color white

footer
  text-align center
  p
    color cyan
    font-family 'Pacifico', cursive
.input-field input[type=text]:focus + label
  color cyan
.input-field input[type=password]:focus + label
  color cyan
.input-field input[type=text]:focus
  border-bottom 1px solid cyan
.input-field input[type=password]:focus
  border-bottom 1px solid cyan
form button[type="submit"]
  color white
.general
  text-align center
  color dark
  font-size 25px
div#menu
  transition all 1s
  position absolute
  top 0
  left -200px
  width 200px
  background-color dark
  color white
  padding 5px 0
  z-index 999

  img
    width 100px
    height 100px
    border-radius 50%
    margin 10px 45px
    border 3px solid white
  p
    text-align center
    font-size 20px
    margin 0
  ul
    li
      margin 10px 10px
      padding 5px
      border-bottom 2px solid cyan
      a
        color white
.menu
  left 0 !important
  transition all 2s

header.dashboard
  h1
    font-size 26px
  p
    background-color cyan
    padding 5px
    i
      color white
      padding 5px
