@import '../../node_modules/materialize-css/bin/materialize.css'
@import '../../node_modules/font-awesome/css/font-awesome.css'
cyan=#00bcd4
dark=#2c3e50
header
  text-align center
  h1
    color cyan
    font-family 'Pacifico', cursive
form button[type="submit"]
  color white

footer
  text-align center
  p
    color cyan
    font-family 'Pacifico', cursive
.input-field input[type=text]:focus + label
  color cyan
.input-field input[type=password]:focus + label
  color cyan
.input-field input[type=text]:focus
  border-bottom 1px solid cyan
.input-field input[type=password]:focus
  border-bottom 1px solid cyan
form button[type="submit"]
  color white
.general
  text-align center
  color dark
  font-size 25px
